/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* CSS Variables */
:root {
  /* Colors */
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;

  --color-bg: #f8fafc;
  --color-surface: #ffffff;

  --color-text: #0f172a;
  --color-text-light: #64748b;

  --color-border: #e2e8f0;

  --color-success: #16a34a;
  --color-danger: #dc2626;

  /* Radius */
  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 18px;

  /* Shadow */
  --shadow-sm: 0 3px 10px rgba(15, 23, 42, 0.04);
  --shadow-md: 0 8px 24px rgba(15, 23, 42, 0.06);

  /* Animation */
  --transition: 0.25s ease;
}
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

button,
input,
textarea {
  font-family: inherit;
}

/* Remove default button styling */
button {
  cursor: pointer;
  border: none;
  background: none;
}

/* Remove anchor underline */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove list bullets */
ul {
  list-style: none;
}

/* Responsive images */
img {
  max-width: 100%;
  display: block;
}

/* Reusable Utility Classes */
.container {
  width: min(1180px, 92%);
  margin: auto;
}

.section {
  padding: 70px 0;
}

.card {
  background: white;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);
}

.shadow-hover {
  transition: var(--transition);
}

.shadow-hover:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-md);
}

.text-muted {
  color: var(--color-text-light);
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 22px;

  border-radius: var(--radius-md);

  transition: var(--transition);

  font-weight: 600;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background: var(--color-primary-hover);
}

.btn-outline {
  border: 1px solid var(--color-border);
  background: white;
}

.btn-outline:hover {
  background: #f1f5f9;
}

/*Inputs */
.input {
  width: 100%;

  padding: 12px 15px;

  border-radius: var(--radius-md);

  border: 1px solid var(--color-border);

  outline: none;

  transition: var(--transition);

  background: white;
}

.input:focus {
  border-color: var(--color-primary);
}

/* Headings */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  line-height: 1.7;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
